.Checklist {
  width: 80%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ffcaca;
  margin-bottom: 1rem;
}

.Progress {
  width: 90%;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
}

.Progress div {
  width: 40%;
  height: 100%;
  background-color: #ffcaca;
  border-radius: 4px;
}

.DeleteIcon {
  cursor: pointer;
}
